{% extends 'originedanse.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
    <h1>Inscription</h1>
    <p>Merci de remplir ce formulaire pour créer un compte.</p>
    <hr>

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email) }}

    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
    }) }}
    
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
    <p>Already have an account? <a href="{{ path('app_login') }}">Sign in</a>.</p>
    </div>
   
    {{ form_end(registrationForm) }}

        {#{{ form_start(registrationForm) }}#}
        {#{{ form_row(registrationForm.email) }}#}
        {#{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}#}
        {#{{ form_row(registrationForm.agreeTerms) }}#}

        <!--<button type="submit" class="btn">Register</button>-->
    {#{{ form_end(registrationForm) }}#}
     
{% endblock %}
