<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!symfony{% endblock %}</title>
    <link href="{{ asset('originedanse/css/style.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>  
    <header>
        <div>
            <img src="{{ asset('originedanse/images/logo_texte.png') }}" alt="logo" width="150">
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}" style="text-decoration:none" >Accueil</a></li>
                <li><a href="#cours">Cours Open</a></li>
                <li><a href="#professeurs">Professeurs</a></li>
                <li><a href="#formations">Formations</a></li>

                {% if not is_granted("ROLE_USER") %}

                <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>

                {% else %}

                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% endif %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}

                 {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}


            </ul>
        </nav>  
    </header>
</body>

{% block body %}{% endblock %}

<footer>
            <!-- ________ navigation secondaire ________ -->
           <nav>
               <ul>
                    <li><a href="{{ path ('page_about') }}">Qui sommes-nous</a></li>
                    <li><a href="{{ path ('page_contact') }}">Contact</a></li>
                    <li><a href="#">CGV</a></li>
                </ul>
            </nav>
            <!-- ________ social networks ________ -->
            <section>
                <figure>
                    <a href="#">
                        <img src="{{ asset('originedanse/images/icon-facebook.png') }}" alt="Facebook">
                    </a>
                    <a href="#">
                        <img src="{{ asset('originedanse/images/icon-twitter.png') }}" alt="Twitter">
                    </a>
                    <a href="#">
                        <img src="{{ asset('originedanse/images/icon-linkedin.png') }}" alt="Linkedin">
                    </a>
                </figure>
            </section>
            <p>&copy; 2010 Origine Danse. Tous droits réservés.</p>
    </footer>
<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>