{% extends 'originedanse.html.twig' %}

{% block title %}Origine Danse{% endblock %}

{% block body %}

<!-- Main Content -->
<main>
        <h1>LE KRUMP</h1>
        <figure>
            <img src="{{ asset('originedanse/images/nach.jpg') }}" alt="danseur krump">
        </figure>
        <section>
        <article>
            <a href="{{ path('post_view', {id:1}) }}">
            <figure><img src="{{ asset('originedanse/images/rize.jpg') }}" alt="affiche film rize"></figure>
            <h2>Film Rize</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laudantium ipsum soluta doloremque odio consequuntur quos.</p>
            </a>
        </article>
        <article>
            <a href="{{ path('post_view', {id:2}) }}">
            <figure><img src="{{ asset('originedanse/images/enfanttribut.jpg') }}" alt="photo enfant de tribut"></figure>
            <h2>Origine du Krump</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laudantium ipsum soluta doloremque odio consequuntur quos.</p>
            </a>
        </article>
        <article>
            <a href="{{ path('post_view', {id:3}) }}">
            <figure><img src="{{ asset('originedanse/images/connection.jpg') }}" alt="spiritualité"></figure>
            <h2>Connection à ses émotions dans le Krump</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laudantium ipsum soluta doloremque odio consequuntur quos.</p>
            </a>
        </article>
        <article>
            <a href="{{ path('post_view', {id:4}) }}">
            <figure><img src="{{ asset('originedanse/images/krumpeuse.jpg') }}" alt="krumpeuse"></figure>
            <h2>La mise en avant des femmes dans le Krump</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laudantium ipsum soluta doloremque odio consequuntur quos.</p>
            </a>
        </article>
        <article>
            <h2>Battle Krumpfest-Demo Speaker WRESTLER</h2>
                <iframe width="650" height="500" src="https://www.youtube.com/embed/GCQlfDdf68g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
        <aside>
                <h2>Le son du moment</h2>
                <iframe src="https://open.spotify.com/embed/track/58pXqeiCCwGBQGugChlYwn?utm_source=generator" width="600" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </aside>
            
    </section>
</main>
{% endblock %}
